button {
  font-size: large;
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  padding: 10px 0;
  color: #555;
}

p {
  color: #666;
  line-height: 1.5;
}